@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
html, body {
  overflow: auto
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 22, 26);
    height: 100%;
    font-family: 'Dosis', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Prompt', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-between;
    align-items: flex-start;
    background: linear-gradient(40deg, black, rgb(63, 63, 63));
    border: 0;
    height: 305px;
    width: 100%;
    text-align: center;
}
.menu {
    padding: 10px;
    background-color: rgba(35, 37, 35, 0.158);
    display: block;
    justify-content:center;
    align-self: center;
    width: 100%;
}
.containerH {
  padding-bottom: 80px;
}

/*Botões do NAV*/

ul {
  list-style: none;
}

/*Sub menu*/

nav .containerMenu ul{
  display: none;
  position: relative;
  background-color: rgb(35, 37, 35);
}
nav .containerMenu ul li a {
  text-decoration: none;
  color:rgb(189, 186, 186);  
  display: block;
  padding: 8px;
}
nav .containerMenu ul li a:hover {
  text-decoration: none;
  color:rgb(184, 11, 11);  
  display: block;
  padding: 8px;
}
nav .containerMenu li:hover ul {
  display: block;
  position: absolute;
  padding: 5px 12px;
}
/*Fim submenu*/

nav .containerMenu {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: baseline;
    padding: 0;
    margin-bottom: 0;
  }
  
  .radio-wrapper {
    position: relative;
    margin: 3px;
    width: 100px;
  }
  
  .radio-wrapper .menuop {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    right: 0;
  }
  
  .btn {
    --primary: #ff184c;
    --shadow-primary: #fded00;
    --color: white;
    --font-size: 9px;
    --shadow-primary-hue: 180;
    --shadow-secondary-hue: 60;
    --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
    --clip: polygon(11% 0, 95% 0, 100% 25%, 90% 90%, 95% 90%, 85% 90%, 85% 100%, 7% 100%, 0 80%);
    --border: 5px;
    --shimmy-distance: 5;
    --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
    --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
    --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
    color: var(--color);
    text-transform: uppercase;
    font-size: var(--font-size);
    letter-spacing: 3px;
    position: relative;
    font-weight: 900;
    width: 100%;
    height: 100%;
    line-height: 38px;
    text-align: center;
    transition: background 0.2s, 0.3s;
  }
  
  .selected + .btn {
    --primary: #8B00FF;
    --shadow-primary: #00e572;
  }
  
  .selected + .btn {
    --primary: #cc133c;
    --font-size: 11px;
  }
  
  .btn:after, .btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--clip);
    z-index: -1;
  }
  
  .btn:before {
    background: var(--shadow-primary);
    transform: translate(var(--border), 0);
  }
  
  .btn:after {
    background: var(--primary);
  }
  
  .btn__tag {
    position: absolute;
    padding: 1px 4px;
    letter-spacing: 1px;
    line-height: 1;
    bottom: -5%;
    right: 5%;
    font-weight: normal;
    color: hsl(0, 0%, 0%);
    font-size: var(--label-size);
  }
  
  .btn__glitch {
    position: absolute;
    top: calc(var(--border) * -1);
    left: calc(var(--border) * -1);
    right: calc(var(--border) * -1);
    bottom: calc(var(--border) * -1);
    background: var(--shadow-primary);
    text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
    clip-path: var(--clip);
    animation: glitch2 2s infinite;
    display: none;
  }
  
  .menuop:hover + .btn .btn__glitch {
    display: block;
  }
  
  .selected + .btn .btn__glitch {
    display: block;
    animation: glitch2 5s infinite;
  }
  
  .btn__glitch:before {
    content: '';
    position: absolute;
    top: calc(var(--border) * 1);
    right: calc(var(--border) * 1);
    bottom: calc(var(--border) * 1);
    left: calc(var(--border) * 1);
    clip-path: var(--clip);
    background: var(--primary);
    z-index: -1;
  }
  
  @keyframes glitch2 {
    0% {
      clip-path: var(--clip-one);
    }
  
    2%, 8% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
  
    6% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    9% {
      clip-path: var(--clip-two);
      transform: translate(0, 0);
    }
  
    10% {
      clip-path: var(--clip-three);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    13% {
      clip-path: var(--clip-three);
      transform: translate(0, 0);
    }
  
    14%, 21% {
      clip-path: var(--clip-four);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    25% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    30% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
  
    35%, 45% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * -1%));
    }
  
    40% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * 1%));
    }
  
    50% {
      clip-path: var(--clip-six);
      transform: translate(0, 0);
    }
  
    55% {
      clip-path: var(--clip-seven);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    60% {
      clip-path: var(--clip-seven);
      transform: translate(0, 0);
    }
  
    31%, 61%, 100% {
      clip-path: var(--clip-four);
    }
  }
  
  .number {
    background: var(--shadow-primary);
    color: #323232;
    font-size: 5.5px;
    font-weight: 700;
    letter-spacing: 1px;
    position: absolute;
    width: 15px;
    height: 6px;
    top: 0;
    left: 81%;
    line-height: 6.2px;
  }

/*Estilização do Main*/ 

main.content {
    background-color: rgb(22, 22, 26);
    position: relative;
    display: block;
    flex: 1;
}
.allContent {
  margin-top: 305px;
}
/*Container com imagem e texto da página inicial*/
.containerIMG, .containerLocal, .videoContent {
  width: 100%;
  height: 500px;
  padding: 20px;
  margin: 70px 0px;
  display: flex;
  position: static;
}
/*Elemento da imagem dentro do container*/
.containerIMG > img{
  height: 100%;
}

/*Elemento do titulo do container*/

.containerIMG > span > h1 {
  color: white;
  margin: 20px 60px;
  font-weight: bold;
  font-size: 60px;
}
.containerIMG div p, div h1{
  word-wrap: break-word;
}

.containerIMG > span > p {
  color:white;
  margin: 20px 60px;
  font-size: 22px;
}
#wordHigh {
  color:#00e572;
  background-color: #204e373b;
}
/*Estilização do Mapa*/
.containerLocal {
  padding: 20px;
  margin: 40px 80px;
  margin-left: auto;
  margin-right: 80px;
  height: 400px;
  margin-top: 100px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.containerLocal span {
  text-align: left;
  color: white;
  margin: 20px 60px;
  font-size: 22px;
}
/*Titulo do Mapa*/
.containerLocal span h1 {
  font-size: 60px;
  font-weight: bold;
}

/*Estilização dos conteúdos de vídeo da home*/

hr {
  border-color: black;
  margin: 0;
  padding: 0;
}

.videoContent h1{
  color: white;
  font-size: 60px;
  font-weight: bold;
}
.videoContent {
  flex-direction: column;
}
.thumbContent {
  width: 96%;
  flex-direction: column;
  height: auto;
  margin: 30px 30px;
  padding: 20px;
}
.thumb-gallery {
  flex-direction: row;
  display: flex;
  margin: 20px;
}
.video-gallery {
  display: flex;
  flex-direction: row;
}

.video-gallery video {
  width: 100%;
  height: 100%;
}

.videoWrapper {
  position: relative;
  border: 1px solid black;  
  margin: 20px;
  width: 500px;
  height: 200px;
}
.videoWrapper img {
  position: absolute;
}

.videoThumb {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;

}


/*Estilização do footer*/

footer {
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer .p-3{
  width: 100%;
  padding: 0;
  color: wheat;
}
figcaption {
  position: static;
  z-index: 4;
  color: rgb(119, 119, 119);
}

/*Seção de login e cadastro*/

.containerLogin {
  right: 0;
  display: flex;
  height: 50px;
  width: 250px;
  align-self: flex-end;
}
#regBot {
  width: 170px;
}

@media screen and (max-width:1330px) {
  .containerIMG {
    width: 100%;
    height: 500px;
    margin-bottom: 200px;
  }
  p {
    font-size: 20px;
  }
  .containerIMG > span > p {
    font-size: 20px;

  }

  body, header, main, nav, .allContent, .videoContent{
    width: 100%;
  }
}
@media screen and (max-width:1115px) {
  span > p {
    font-size: 14px;
  }
  .containerIMG > img {
    height: 50%;
  }
  .containerIMG span {
    height: 50%;
  }
  .containerIMG > span > p {
    font-size: 14px;
  }
  body, header, main, nav, .allContent, .videoContent{
    width: 100%;
  }
  .video-wrapper, .video-wrapper img, .video-wrapper video {
    width: 200px;
    height: 40px;
  }
}

@media screen and (max-width:1030px) {
  .allContent {
    width: 100%;
  }
  body, header, main, nav, .allContent, .videoContent, hr{
    width: 100%;
  }
  .video-wrapper, .video-wrapper img, .video-wrapper video {
    width: 200px;
    height: 40px;
  }

}

